/.vscode
.DS_Store

# ignore build outputs and binaries
*.o
*.out
*.exe
*.a
*.so
*.dylib
*.class

# ignore build targets
# Exam 1
**/arraylist
**/linkedlist
**/doublylinkedlist
**/circularlinkedlist
**/matrixclass
**/poweroffour

# Exam 2
**/chainhashing
**/directhashing
**/linearhashing
**/PQLL
**/QU
**/prioirityqueue
**/standardqueue
**/mheap
**/bsort
**/isort
**/msort
**/qsort
**/ssort
**/standardstack

# Exam 3
**/bellmanford
**/dijkstra
**/floydwarshall
**/kruskal
**/prim
**/toposort
**/avl
**/bst
**/huffman
**/graph
